<div class="col-md-12" style="text-align: center;">
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" value="" class="btn btn-primary icon-btn">
                            <i class="fa fa-fw fa-lg fa-check-circle">
                            </i>Registrar
                        </button>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default icon-btn" href="#">
                            <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

